<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>

    <add name="MyTwitterDB" providerName="System.Data.SqlClient" connectionString="Server=BURAK; Database=MyTwitterDB; User id=sa; Password=wissen;"/>
    
  </connectionStrings>
  
  <appSettings>
    <add key="ConsumerKey" value="sUzzYlHr54GsMSYh65v0XR1kx" />
    <add key="ConsumerSecret" value="fSF3BJkaEzPYSGE0ypyI2Ps9CZOwJ5Hlz9nMt1sxryerHh1Jww" />
    <add key="AccessTokenKey" value="719413274010255361-PrqCucE7gjVPGrh7EH4wBpGQOSpscBw" />
    <add key="AccessTokenSecret" value="lmEDox5e4FQNqFbbdrPd38tc7BarmL2YGJ5qt3o18GC7I" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>